<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>OpusAutomation.OpusAutomation.HSIA_Standalone_PR</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_StoreSelect_activity_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_LOBSelect_Activity_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ClosePopUpButton_Activity_13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_SelectInternetPackage_Activity_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ValidateQuote_Activity_12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_AddressValidation_activity_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GlobanLogon_activity_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_AutoPay_BillHandle_Activity_11</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>OpusAutomation.OpusAutomation.DTV_HSIA_VOIP_PR</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test_ClosePopUpButton_Activity_13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_AddressValidation_activity_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_AddProtectionPlan_Activity_9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_TVAdd_Activity_7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_DTV_BasePackageSelect_Activity_5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_GlobanLogon_activity_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_StoreSelect_activity_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_LOBSelect_Activity_4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_SelectInternetPackage_Activity_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ValidateQuote_Activity_12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_check_to_add_promotion_Activity_6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_ReceiverAdd_Activity_8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_SelectVOIPPackage_Activity_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test_AutoPay_BillHandle_Activity_11</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
